.todo {
	width: 100%;
	min-height: 100vh;
	max-height: auto;
	position: relative;
}
.todo-input-container {
	box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
}
.todo-inputs {
	border: none;
	outline: none;
}
#textarea {
	display: none;
}
.todo-card {
	border: 1px solid black;
}
.card-icons {
	font-size: 20px;
	cursor: pointer;
}
.del {
	color: red;
}
.card-icon-head {
	cursor: pointer;
	transition: all 0.3s;
}
.card-icon-head:hover {
	box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 15px;
}
.todo-update {
	position: absolute;
	position: fixed;
	top: 80px;
	left: 0px;
	width: 100%;
	min-height: 80vh;
	background-color: blanchedalmond;
	display: none;
}
.update {
	height: 100%;
}
